<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-4">
          <v-card-text class="text-xs-center">
            <v-flex xs12 class="text-xs-left">
              <p><span class="dms_logo">DMS</span></p>
            </v-flex>
            <h2 class="text-xs-left">Выберите компанию чтобы продолжить</h2>
            <v-progress-circular indeterminate :size="50" color="primary" class="mt-3" v-if="loading"></v-progress-circular>
            <v-list>
              <v-list-tile v-for="(item, index) in companies" :key="item.id" @click="chooseCompany(item)" avatar class="my-2">
                <v-avatar :class="colors[index%colors.length]">
                  <span class="white--text headline">{{item.name.charAt(0).toUpperCase()}}</span>
                </v-avatar>
                <v-list-tile-content class="pl-4">
                  <v-list-tile-title v-html="item.name"></v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
            <v-flex xs12 class="ml-4" v-if="companies.length>0">
              <v-checkbox label="Запомнить выбор" v-model="rememberCompany"></v-checkbox>
            </v-flex>
            <v-flex xs12 v-else-if="!loading">
              <p class="grey lighten-3 text-xs-left pa-3 blue--text blue-border"><b>Нет доступных компаний</b></p>
              <v-btn class="info" @click="goToAccount">Перейти в аккаунт</v-btn>
            </v-flex>
            
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
  
</template>

<script>
  
  export default {
    components: {
    
    },
    
    data(){
      return {
        colors:[
          'red', 'teal', 'indigo', 'teal', 'green', 'blue-grey', 'brown', 'deep-orange', 'blue'
        ],
        companies: [],
        loading: true,
        rememberCompany: false
      }
    },
    
    mounted(){
      /** Defines if company create/edit form is visible or not */
      this.getCompaniesList()
    },
    
    methods: {
      getCompaniesList(){
        this.loading = true
        axios.get( `/companies-posts`, {baseURL:'https://api.dantser.net/x/orgstructure/v1'} ).then( response => {
          this.companies = response.data.companies
          this.loading = false
        }).catch( error => {
          console.warn( error )
          this.loading = false
        })
      },
  
      chooseCompany(item){
        if(this.rememberCompany){
          localStorage.setItem("DMS-COMPANY-ID", item.id)
          localStorage.setItem("DMS-POST-ID", item.posts[0].id)
          localStorage.setItem("DMS-FORM-ID", item.posts[0].form_id)
        } else {
          localStorage.removeItem("DMS-COMPANY-ID")
          localStorage.removeItem("DMS-POST-ID")
          localStorage.removeItem("DMS-FORM-ID")
        }
        axios.defaults.headers['DMS-COMPANY-ID'] = item.id
        axios.defaults.headers['DMS-POST-ID'] = item.posts[0].id
        axios.defaults.headers['DMS-FORM-ID'] = item.posts[0].form_id
        
        if(this.$route.query.continue){
          location.replace(this.$route.query.continue+'?c_id='+item.id+'&p_id='+item.posts[0].id+'&f_id='+item.posts[0].form_id)
        } else {
          location.replace('https://account.dantser.net?c_id='+item.id+'&p_id='+item.posts[0].id+'&f_id='+item.posts[0].form_id)
        }
      },
  
      goToAccount(){
        location.replace('https://account.dantser.net')
      }
    }
  }
</script>

<style scoped>
  .dms_logo{
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    font-family: 'Times New Roman';
    color: #ffffff;
    background-color: #465687;
    padding: 5px;
    text-align: left;
  }
  .blue-border{
    border-left: 4px solid #2196F3 !important;
  }
</style>