<template>
  <v-content>
    <companies-list v-if="showCompanies"></companies-list>
    <v-container v-else fluid fill-height>
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
          <v-card class="elevation-12">
            <v-toolbar dark color="primary">
              <v-toolbar-title>Войти в систему</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
              <v-form>
                <v-text-field
                  prepend-icon="person"
                  v-model="username"
                  label="Логин"
                  name="login"
                  :error-messages="errors.collect('Логин')"
                  v-validate="'required'"
                  data-vv-name="Логин"
                  required
                  @keyup.13="login"
                ></v-text-field>

                <v-text-field
                  prepend-icon="lock"
                  v-model="password"
                  label="Пароль"
                  name="password"
                  :error-messages="errors.collect('Пароль')"
                  v-validate="'required'"
                  data-vv-name="Пароль"
                  required
                  type="password"
                  @keyup.13="login"
                ></v-text-field>
              </v-form>
              <p>
                <span class="red--text">{{errorMessage}}</span>
                <a class="pull-right" @click="resetPassword">Забыли пароль?</a>
              </p>
            </v-card-text>
            <v-card-actions>
              <v-btn color="primary" @click.native="register" flat>Регистрация</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="primary" @click="login">Войти</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <v-dialog v-model="dialog" persistent max-width="600px">
      <component v-if="dialog" :is="currentView" @close-dialog="dialog=false"></component>
    </v-dialog>

  </v-content>
</template>

<script>
  import RegisterForm from './RegisterForm'
  import ResetForm from './ResetForm'
  import CompaniesList from './CompaniesList'

  export default {
    name: 'Login',

    components: {
      RegisterForm,
      ResetForm,
      CompaniesList
    },
    
    computed:{
      showCompanies(){
        return ( this.authorized && this.$route.query.companies && this.$route.query.continue )
      }
    },

    data () {
      return {
        username: '',
        password: '',
        dialog: false,
        currentView: null,
        errorMessage: '',
        authorized : false
      }
    },

    methods: {
      register () {
        this.currentView = RegisterForm
        this.dialog = true
      },

      resetPassword () {
        this.currentView = ResetForm
        this.dialog = true
      },

      login () {
        this.errorMessage = ''
        
        this.$validator.validateAll().then((result) => {
          if (result) {
            axios.post(`/SignIn`, {
              'email': this.username,
              'password': this.password,
            }, {withCredentials: true}).then(response => {
              this.authorized = true
              if(!this.$route.query.continue){
                window.location.replace('https://account.dantser.net')
              }
            }).catch(error => {
              console.warn(error)
              this.errorMessage = error.response.data.error
            })
          }
        })
        
      },
    },
  }
</script>

<style>

</style>
