<template>
  <v-card>
    <v-card-title>
      <span class="headline">Регистрация нового пользователя</span>
    </v-card-title>
    <v-card-text>
      <v-container grid-list-md>
        <v-layout v-if="data_sent" row wrap>
          <v-flex xs12>
            <v-text-field
              type="number"
              min="100001"
              max="999998"
              label="Введите код подтверждения"
              v-model="verification_code"
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <span v-if="count>0"> Выслать код повторно можно будет через {{count}} сек. </span>
            <a v-else @click.prevent="sendCodeAgain">Выслать код повторно</a>
          </v-flex>

          <v-flex xs12><span class="red--text">{{errorMessage}}</span></v-flex>
        </v-layout>

        <v-layout v-else wrap>
          <v-flex xs12>
            <v-text-field
              label="Фамилия"
              v-model="lastname"
              :error-messages="errors.collect('Фамилия')"
              v-validate="'required'"
              data-vv-name="Фамилия"
              required
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field
              label="Имя"
              v-model="firstname"
              :error-messages="errors.collect('Имя')"
              v-validate="'required'"
              data-vv-name="Имя"
              required
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field
              required
              label="Email"
              v-model="email"
              :error-messages="errors.collect('email')"
              v-validate="'required|email'"
              data-vv-name="email"
              data-vv-delay="2000"
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field
              label="Пароль"
              v-model="password"
              :error-messages="errors.collect('password')"
              v-validate="'required'"
              data-vv-name="password"
              data-vv-as="Пароль"
              ref="password"
              type="password"
              data-vv-delay="1500"
              required
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field
              label="Повторите пароль"
              type="password"
              name="confirm"
              :error-messages="errors.collect('confirm')"
              v-validate="'required|confirmed:$password'"
              data-vv-name="confirm"
              data-vv-as="Подтверждение пароля"
              v-model="password_confirm"
              data-vv-delay="1000"
              required
            ></v-text-field>
          </v-flex>
          <v-flex xs12><span class="red--text">{{errorMessage}}</span></v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" flat @click.native="closeDialog">Закрыть</v-btn>
      <v-btn color="primary" @click.native="register" :disabled="data_sent && !verification_code">Зарегистрироваться
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
  export default {
    name: 'register',

    props: {},

    data () {
      return {
        lastname: '',
        firstname: '',
        email: '',
        password: '',
        password_confirm: '',
        data_sent: false,
        verification_code: '',
        count: 30,
        timer: null,
        errorMessage: '',
      }
    },

    methods: {
      closeDialog () {
        this.$emit('close-dialog')
      },

      makeInterval () {
        this.timer = setInterval(() => {
          if (this.count > 0) {
            this.count--
          } else {
            clearInterval(this.timer)
          }
        }, 1000)
      },

      sendCodeAgain () {
        axios.post(`/ResendCode`, {'email': this.email}).then(response => {
          this.count = 30
          this.makeInterval()
        }).catch(error => {
          console.warn(error)
        })
      },

      register () {
        this.errorMessage = ''

        if (!this.data_sent) {
          this.$validator.validateAll().then((result) => {
            if (result) {
              axios.post('/SignUp', {
                'first_name': this.firstname,
                'last_name': this.lastname,
                'email': this.email,
                'password': this.password,
                'password_confirm': this.password_confirm,
              }).then(response => {
                this.makeInterval()
                this.data_sent = true
              }).catch(error => {
                this.errorMessage = error.response.data.error
                console.warn(error)
              })
            }
          })
        } else {
          axios.post(`/Confirm`, {
            'email': this.email,
            'code': parseInt(this.verification_code),
          }).then(response => {
            window.location.replace('https://account.dantser.net')
            this.closeDialog()
          }).catch(error => {
            this.errorMessage = error.response.data.error
            console.warn(error)
          })
        }
      },
    },
  }
</script>

<style>

</style>
